* {
    background-color: rgb(33, 33, 33);
    font-family: "Roboto", sans-serif;
    color: white;
}

.side {
    border: grey solid 1px;
    border-radius: 10px;
    width: 47vw;
    margin: 1vw;
    overflow-y: scroll;
    height: 90vh;
    display: block;
}

.textBox {
    margin: 3px;
    width: calc(47vw - 30px);
    height: calc(100% - 30px);
    border: none;
    outline: none;
}

.vertical {
    display: flex;
}

.vertical .side {
    width: 47vw;
    height: calc(100vh - 2vw - 96px);
}

.horizontal {
    display: inline-block;
}

.horizontal .side {
    margin: 1vw;
    width: 96vw;
    height: calc(47vh - 30px);
}

.switch {
    background: none;
    border-radius: 10px;
    border: grey solid 1px;
    display: inline-flex;
    position: relative;
    left:0;
}

.switch button {
    background: none;
    border: none;
    padding: 10px;
    width: 80px;
    z-index: 1;
}

.switch #highlight {
    position: absolute;
    transition: all 0.2s;
    background-color: grey;
    height: 100%;
    width: 50%;
    top: 0;
    border-radius: 9px;
    z-index: 0;
}

.switch .left {
    left: 0;
}

.switch .right {
    left: 50%;
}

#codeSide {
    display: none;
}

#viewModeContainer {
    position: fixed;
    background: none;
}

#htmlSide, #codeSide {
    margin-top: 40px;
}